
<div class="panel-body">

<%= simple_form_for (@user) do |f| %>
  
  <%= f.input :first_name, label: false, input_html: {placeholder: "First Name"} %>
    <%= f.input :last_name, label: false, input_html: {placeholder: "Last Name"} %>
    <%= f.input :organization_name, label: false, input_html: {placeholder: "Organization"} %>
    <%= f.input :email, label: false, input_html: {placeholder: "Email"} %>
    <%= f.input :phone, label: false, input_html: {placeholder: "Phone"} %>
    <%= f.input :trainings_taken, label: false, input_html: {placeholder: "Trainings Taken"} %>
    <%= f.input :certifications_earned, label: false, input_html: {placeholder: "Certifications Earned"} %>
    <%= f.input :trainings_registered, label: false, input_html: {placeholder: "Trainings Currently Registered"} %>


<%= f.submit "Submit".html_safe, class: "btn btn-lg btn-danger"%>
  <%end %>
  
</div>