<!DOCTYPE html>
<html>
<head>
  <title>SF Family Support Network</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=539364826181942";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="top-bar">
</div>

<nav class="navbar navbar-inverse">

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar">A</span>
        <span class="icon-bar">B</span>
        <span class="icon-bar">C</span>
      </button>
      
      <!-- <a class="navbar-brand" > <%= link_to image_tag("nicelogo.png") %>
      </a> -->
    </div>

    <div class= "logowork">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h2>San Francisco Family Support Network </h2>    
            </div>
          </div>
		</div>  <!-- closing div for logowork -->

    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'HOME', root_path %></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-info-circle"></i> ABOUT <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/about">ABOUT SFFSN</a></li>
            <li><a href="/staff">SFFSN STAFF</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"> CHILD ABUSE PREVENTION CENTER</a></li>
          </ul>
        </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-hand-paper-o"></i> MEMBERSHIP <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <li><a href="#">MEMBERSHIP - Main</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">BECOME A MEMBER!</a></li>
          <li role="separator" class="divider"></li>
            <li><a href="#">PROVIDER MEMBERS</a></li>
            <li role="separator" class="divider"></li>

            <li><a href="#">FUNDER MEMBERS</a></li>
            <li><a href="#">AFFILIATE MEMBERS</a></li>
            <li><a href="#">FRIENDS MEMBERS</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">ALL MEMBERS MEETING</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users"></i> TRAININGS <span class="caret"></span></a>
          <ul class="dropdown-menu">
          	<li><a href="/trainings">TRAININGS - Main</a></li>
          	<li><a href="/training_signup">TRAININGS ONLINE SIGN-UP</a></li>
          	<li role="separator" class="divider"></li>
            <li><a href="#"> CERTIFICATIONS</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">CAT 1 TRAININGS</a></li>
            <li><a href="#">CAT 2 TRAININGS</a></li>
            <li><a href="#">CAT 3 TRAININGS</a></li>
            <li><a href="#">CAT 4 TRAININGS</a></li>
            <li><a href="#">CAT 5 TRAININGS</a></li>
            <li><a href="#">CAT 6 TRAININGS</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">SITE CERTIFICATION</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-balance-scale"></i> COMMITTEES <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">STEERING COMMITTEE</a></li>
            <li><a href="#">EVALUATION COMMITTEE</a></li>
            <li><a href="#">POLICY COMMITTEE</a></li>
            <li><a href="#">TECHNICAL ASSISTANCE COMMITTEE</a></li>
            <li><a href="#">SF VISION FOR FAMILIES COORDINATING COUNCIL</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">ALL MEMBERS MEETING</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-child"></i> STANDARDS & POLICIES <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">What is Family Support?</a></li>
            <li><a href="#">SFFSN Standards</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">FES POLICY PLATFORM</a></li>
            <li><a href="#">FES COORDINATING COUNCIL</a></li>
            <li><a href="#">FES COUNCIL</a></li>
            <li><a href="#">POLICY EDUCATION GUIDELINES</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-rocket"></i> RESOURCES <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">FAMILY SUPPORT TOPICS</a></li>
            <li><a href="#">FAMILY ECONOMIC SUCCESS</a></li>
            <li><a href="#">LENDING LIBRARY</a></li>
            <li><a href="http://www.211sf.org/">211 UNITED WAY</a></li>
            <li><a href="#">OTHER RESOURCES</a></li>
          </ul>
        </li>

      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default"> Search </button>
      </form> -->
      <li><a href="/contact_us"><i class="fa fa-envelope"></i> CONTACT </a></li>
      <li><a href="/users/new"><i class="fa fa-user-plus"></i> LOGIN/REGISTER </a></li>
      </ul>
      
    </div><!-- /.navbar-collapse -->


<!-- <%= link_to image_tag("bridgepartialsmall.png") %> -->

          <!-- <div class= "searchwork">
            <div class="col-md-3">
                  <form class="navbar-form navbar-left" role="search">
                  <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default"> Search </button>
                  </form>
                  </div>
              </div>
          </div> -->

        

  </div><!-- /.container-fluid -->
</nav><!-- navbar ends -->


<%= yield %>

</body>
</html>
